#editor {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: #2b2b2b;

    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

#toolbar {

    height: 40px;

    background: #3a3a3a;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 15px;

    border-bottom: 1px solid #555;
}

#engine-version {

    color: #bbbbbb;

    font-size: 13px;
}

#workspace {
    flex: 1;

    display: grid;

    grid-template-columns: 220px 1fr 260px;

    overflow: hidden;
}

#hierarchy {

    background: #323232;

    padding: 12px;

    border-right: 1px solid #555;
}

#scene-view {

    position: relative;

    background: #202124;

    overflow: hidden;
}

#scene-view canvas {

    width: 100%;

    height: 100%;

    display: block;
}

#inspector {

    background: #323232;

    padding: 12px;

    border-left: 1px solid #555;
}

#console-panel {

    height: 140px;

    background: #1d1d1d;

    border-top: 1px solid #555;

    padding: 12px;
}